@keyframes slideRight1 {
  100% {
    transform: translateX(calc(100% + 4px));
  }
}
@keyframes slideRightEnd1 {
  100% {
    transform: translateX(calc(100% + 4px + 14px));
  }
}
@keyframes slideRight2 {
  100% {
    transform: translateX(calc(200% + 14px));
  }
}
@keyframes slideRightEnd2 {
  100% {
    transform: translateX(calc(200% + 16px + 14px));
  }
}
@keyframes slideRight3 {
  100% {
    transform: translateX(calc(300% + 24px + 22px));
  }
}
@keyframes slideLeft1 {
  100% {
    transform: translateX(calc(-100% - 8px));
  }
}
@keyframes slideLeft2 {
  100% {
    transform: translateX(calc(-200% - 16px));
  }
}
@keyframes slideLeft3 {
  100% {
    transform: translateX(calc(-300% - 24px));
  }
}
.animate-slide-right1 {
  animation: slideRight1 0.15s forwards;
}
.animate-slide-right-end1 {
  animation: slideRightEnd1 0.15s forwards;
}
.animate-slide-right2 {
  animation: slideRight2 0.20s forwards;
}
.animate-slide-right-end2 {
  animation: slideRightEnd2 0.20s forwards;
}
.animate-slide-right3 {
  animation: slideRight3 0.25s forwards;
}
.animate-slide-left1 {
  animation: slideLeft1 0.15s forwards;
}
.animate-slide-left2 {
  animation: slideLeft2 0.20s forwards;
}
.animate-slide-left3 {
  animation: slideLeft3 0.25s forwards;
}
