# Note that the order is important - the last matching pattern takes the most
# precedence!

# Sub-project maintainers
/bin                        @Gussy @mcharles-square @briano-block
/client                     @mcharles-square @negarn @flesher @mightyguava @briano-block
/proto                      @mcharles-square @negarn @flesher @mightyguava @briano-block
/server                     @mcharles-square @negarn @flesher @mightyguava @briano-block

# All individual files in the root directory
/.*                         @Gussy @mcharles-square @briano-block
