.hermit/
.idea
.DS_Store
server/influx_config/.env
**/.goose/

**private.env**
.env*

# Binary files
server/cmd/fleetd/fleetd
server/fake-antminer/fake-antminer

# Plugin binaries (built artifacts should not be committed)
plugin/proto/proto-plugin
plugin/antminer/antminer-plugin

server/plugins/*
