@tailwind base;

@layer base {
  /* rgb values without the rgb wrapper as those get added in the tailwind config to handle opacity */
  html[data-theme='light'] {
    --black-100: 0 0 0; /* #000 */
    --blue-100: 38 144 199; /* #2690C7 */
    --gray-5: 242 242 242; /* #F2F2F2 */
    --gray-10: 229 229 229; /* #E5E5E5 */
    --gray-20: 204 204 204; /* #CCC */
    --green-100: 144 195 0; /* #90C300 */
    --indigo-100: 120 62 237;  /* #783EED */
    --orange-100: 255 91 0; /* #FF5B00 */
    --red-100: 250 43 55; /* #FA2B37 */
    --white-100: 255 255 255; /* #FFF */
    --yellow-100: 253 138 0; /* #FD8A00 */

    --text-accent: 51 18 0; /* #331200 */
    --text-critical: 116 20 13; /* #74140D */
    --text-info: 0 75 115; /* #004B73 */
    --text-success: 6 63 37; /* #063F25 */
    --text-warning: 135 73 0; /* #874900 */
  }
}
