@tailwind base;

@layer base {
  /* rgb values without the rgb wrapper as those get added in the tailwind config to handle opacity */
  html[data-theme='light'] {
    --white-100: 255 255 255; /* #fff */
    --black-80: 22 22 22; /* #161616 */
    --black-100: 0 0 0; /* #000 */
    --tinted-10: 255 253 245; /* #fffdf5 */
    --tinted-20: 248 244 228; /* #f8f4e4 */
    --foreground-10: 246 246 246; /* #f6f6f6 */
    --foreground-30: 198 198 198; /* #c6c6c6 */
    --foreground-60: 102 102 102; /* #666 */
    --foreground-80: 75 75 75; /* #4b4b4b */
    --foreground-100: 17 17 17; /* #111 */
    --primary-10: 235 251 255; /* #EBFBFF */
    --primary-50: 161 194 201; /* #A1C2C9 */
    --primary-100: 0 128 150; /* #008096 */
  }
}
